@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-lightGreen {
  background-color: #eaefbd;
}
.bg-teaGreen {
  background-color: #c9e3ac;
}
.bg-darkBrown {
  background-color: #37371f;
}
